<div ng-controller="comandoCtrl" layout="column" layout-align=" none" ng-init="inicializarCampos();">
    <div layout="row" layout-align="start top" style="margin-top: 30px; height: 40px;">
        <div style="width: 105px;" flex="30">
            <md-radio-group ng-model="avinhao.coordenadas" ng-init="cartesiana" style="width:30px;" ng-change="onSelectRadio(avinhao.coordenadas)">
                <md-radio-button value="cartesiana">Cartesiana</md-radio-button>
            </md-radio-group>
        </div>
        <md-input-container style="width: 80px; margin-top:-10px;">
            <label>X</label>
            <input name="x" ng-model="avinhao.x" id="x">
        </md-input-container>
        <md-input-container style="width: 80px; margin-top:-10px;">
            <label>Y</label>
            <input name="y" ng-model="avinhao.y" id="y">
        </md-input-container>
    </div>
    <div layout="row" layout-align="start top" style="margin-top: 15px">
        <div flex="30">
            <md-radio-group ng-model="avinhao.coordenadas" ng-change="onSelectRadio(avinhao.coordenadas)">
                <md-radio-button value="polar">Polar</md-radio-button>
            </md-radio-group>
        </div>
        <div>
            <md-input-container style="width: 80px; margin-top: -13px">
                <label>R</label>
                <input name="raio" ng-model="avinhao.raio" id="raio">
            </md-input-container>
            <md-input-container style="width: 80px; margin-top: -13px">
                <label>&prop;</label>
                <input name="angulo" ng-model="avinhao.angulo" id="angulo">
            </md-input-container>
        </div>
    </div>
    <div style="width: 100px">
        <md-button class="md-raised md-default" style="background: rgb(76, 175, 80); color: rgb(255, 255, 255);" ng-click="onAdicionaAvinhao()">Adicionar</md-button>
    </div>
    <div>
        <table st-table="rowCollection" class="table table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th st-sort="Aviao">Avião</th>
                    <th st-sort="X">X</th>
                    <th st-sort="Y">Y</th>
                    <th st-sort="Raio">Raio</th>
                    <th st-sort="Angulo">Angulo</th>
                </tr>
            </thead>
            <tbody class="table table-striped">
                <tr st-select-row="row" st-select-mode="single" ng-repeat="row in rowCollection" ng-click="rowSelected(row)">
                    <td class="text-center" >{{row.Aviao}}</td>
                    <td class="text-center" >{{row.X}}</td>
                    <td class="text-center" >{{row.Y}}</td>
                    <td class="text-center" >{{row.Raio}}</td>
                    <td class="text-center" >{{row.Angulo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>